.App {
  text-align: center;
}

.smurf-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.smurf-card {
  padding: 4%;
  background-color: grey;
}

.smurf-form {
  margin: 2% 0;
}

.smurf-form input {
  padding: 15px;
}

.smurf-form button {
  padding: 20px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
}

.smurf-form button:hover {
  background-color: rgb(54, 104, 211);
}
